body {
  background-color: black;
}

header{
  background-color: dodgerblue;
  height: 22px;
}
header nav ul{
  list-style-type: none;
  display: flex;
  margin-left: 60%;
}

header nav ul li{
  display: inline;
  padding-left: 15%;
}

h1 {
  color: white;
  text-align: center;
  font-family: georgia;
  font-size: 35px;

}

p {
  color: white;
  text-align: center;
  font-family: georgia;
  font-size: 20px;
}
