body {
  background-color: black;
}

header {
  background-color: black;
  height: 22px;
}

header nav {
  display: flex;
  justify-content: flex-start; /* Align items to the start of the flex container */
  margin-left: 65%; /* Position the nav container at 65% from the left of the page */
  position: absolute; /* Allows for precise positioning */
  width: 33.5%; /* The width should be 100% minus the margin-left (65%) */
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between; /* Space out items equally */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  width: 98.5%; /* Full width of the nav container */
}

header nav ul li {
  display: inline; /* Ensure list items stay inline */
}

header nav ul li a:link {
  text-decoration: none;
  background-color: dodgerblue;
}

header nav ul li a:visited {
  text-decoration: none;
  background-color: dodgerblue;
}

header nav ul li a:hover {
  text-decoration: none;
  background-color: peach;
}

header nav ul li a:active {
  text-decoration: none;
}

h1 {
  color: white;
  text-align: center;
  font-family: georgia;
  font-size: 35px;

}

p {
  color: white;
  text-align: center;
  font-family: georgia;
  font-size: 20px;
}
